* {
  font-family: "SF Pro Display", sans-serif;
}

body {
  background: url(../src/images/login_register_BG.png) no-repeat center;
  background-size: cover;
  padding: 3rem 0 0 3rem;
  font-size: 12px;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

.editInchargeFormBtn{
  i {
    padding-right: 15px;
  }

  display: flex;
  position: fixed;
  top: 500px;
  left: 1500px;
  background: #102a61;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 0 5px rgba(black, 0.04);

  :link {
    text-decoration: none;
    color: inherit;
  }

  :visited {
    text-decoration: none;
    color: inherit;
  }

  :hover {
    text-decoration: none;
    color: inherit;
  }

  :active {
    text-decoration: none;
    color: inherit;
  }
}
.editInchargeFormBtn:hover {
  background: #4a82e2;
  color: #ffffff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  transition: background 0.1s ease 0.1s;
}

.site-wrap {
  display: grid;
  grid-template-columns: 280px 1fr;
}

.site-nav {
  background: #0b121b;
  color: white;
  border-radius: 2rem;
  border-top-right-radius: 0;
  display: flex;
  flex-direction: column;

  a {
    color: inherit;
  }


  ul {
    margin-bottom: auto;
    list-style: none;
    li {

      .nav_icon,
      a {
        display: flex;
        align-items: center;
        padding: 0.5rem 2rem 0.5rem 1rem;
        position: relative;
        font-size: medium;
        text-decoration: none;
        line-height: 100%;
        text-align: left;

        &:hover,
        &:focus {
          color: #4371c5;
        }
      }

      &.active>a,
      .nav_icon {
        background: linear-gradient(to right, #101b2d, transparent);

        &::before {
          content: "";
          position: absolute;
          left: 0;
          top: 0;
          height: 100%;
          background: #4676cd;
          width: 5px;
          border-top-right-radius: 4px;
          border-bottom-right-radius: 4px;
        }
      }
    }

    ul .nav_icon {
      padding-left: 1rem;
      margin-bottom: 1rem;

      a {
        padding-top: 0.4rem;
        padding-bottom: 0.4rem;
      }
    }
  }
}

.note {
  width: calc(100% - 6rem);
  margin: 2rem;
  background: #171c26;
  border-radius: 10px;
  padding: 1rem;

  h3 {
    font-size: 0.9rem;
    margin: 0 0 0.4rem 0;
  }

  p {
    color: #717783;
  }
}

.name {
  font-size: 1.3rem;
  position: relative;
  margin: 2rem 0 2rem 0;
  padding: 0 2.5rem 0.5rem 2rem;
  width: calc(100% - 3rem);
}

main {
  border-radius: 2rem;
  background: #ebecee;
  margin-left: -2rem;
  position: relative;

  >header {
    padding: 3rem 3rem 0 3rem;
  }
}

.content-columns {

  padding: 3rem;
  display: flex;
  background: #e5e5e9;

  .col {
    margin: auto;
    min-height: 500px;
    width: 800px;
    padding: 1rem;
    background: #ebecee;
    box-shadow: 0 0 5px rgba(black, 0.04);
    border-radius: 5px;
    text-align: center;
    font-size: 30px;
    height: 100px;
    line-height: 100px;
    text-align: center;

    :link {
      text-decoration: none;
      color: inherit;
    }

    :visited {
      text-decoration: none;
      color: inherit;
    }

    :hover {
      text-decoration: none;
      color: inherit;
    }

    :active {
      text-decoration: none;
      color: inherit;
    }



    &:nth-child(1) {
      border-top: 4px solid #50aaee;

    }

    &:nth-child(2) {
      border-top: 4px solid #d56ec7;
    }

    &:nth-child(3) {
      border-top: 4px solid #e37e55;
    }

    &:nth-child(4) {
      border-top: 4px solid #ebbd41;
    }
  }
}

.patient_information_field {
  padding: 3rem;
  display: inline-grid;
  background: #ffffff;

  i {
    padding-right: 15px;
  }

  .col {
    display: flex;
    align-items: center;
    margin: auto;
    width: 200px;
    padding: 1rem;
    background: #ebecee;
    box-shadow: 0 0 5px rgba(black, 0.04);
    border-radius: 5px;
    text-align: center;
    font-size: 20px;
    height: 70px;
    line-height: 70px;
    margin-bottom: 45px;

    :link {
      text-decoration: none;
      color: inherit;
    }

    :visited {
      text-decoration: none;
      color: inherit;
    }

    :hover {
      text-decoration: none;
      color: inherit;
    }

    :active {
      text-decoration: none;
      color: inherit;
    }



    &:nth-child(1) {
      border-top: 4px solid #50aaee;

    }

    &:nth-child(2) {
      border-top: 4px solid #d56ec7;
    }

    &:nth-child(3) {
      border-top: 4px solid #e37e55;
    }

    &:nth-child(4) {
      border-top: 4px solid #ebbd41;
    }
  }
}

.patient_information {
  padding: 3rem;
  display: inline-grid;
  background: #ffffff;

  .col {
    margin: auto;
    min-height: 100px;
    width: 600px;
    padding: 1rem;
    background: #ebecee;
    box-shadow: 0 0 5px rgba(black, 0.04);
    border-radius: 5px;
    text-align: center;
    font-size: 20px;
    height: 70px;
    line-height: 70px;
    margin-bottom: 25px;

    :link {
      text-decoration: none;
      color: inherit;
    }

    :visited {
      text-decoration: none;
      color: inherit;
    }

    :hover {
      text-decoration: none;
      color: inherit;
    }

    :active {
      text-decoration: none;
      color: inherit;
    }



    &:nth-child(1) {
      border-top: 4px solid #50aaee;

    }

    &:nth-child(2) {
      border-top: 4px solid #d56ec7;
    }

    &:nth-child(3) {
      border-top: 4px solid #e37e55;
    }

    &:nth-child(4) {
      border-top: 4px solid #ebbd41;
    }
  }
}

.logo {
  width: 500px;
  height: 500px;
  margin: auto;
  display: block;
}

.item {
  background: white;
  box-shadow: 0 2px 4px rgba(black, 0.07);
  min-height: 150px;
  height: 100px;
  border-radius: 5px;
  margin: 0 0 0.5rem 0;
}

.nav-tabs {

  ul,
  li {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  a {
    margin-right: 2rem;
    display: inline-block;
    padding: 1rem 0 1rem 0;
    font-size: 1.15rem;
    color: #8c939e;
    position: relative;
    text-decoration: none;

    &.active {
      color: #101620;
      font-weight: 600;
      text-transform: uppercase;

      span {
        background: #d9dfea;
        color: #5887d1;
      }

      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 4px;
        background: #457ace;
        border-radius: 10px;
        border-radius: 10px;
      }
    }

    span {
      border-radius: 10px;
      font-size: 0.8rem;
      padding: 0.25rem 0.4rem;
      font-weight: 600;
      vertical-align: middle;
      position: relative;
      top: -2px;
      background: #dfe0e2;
      color: #868d99;
    }
  }
}

#status {
  background: #F9F9F9;
  padding: 25px;
  margin: 200px 50px 350px 550px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  border-radius: 8px;
  width: 40%;

}

fieldset {
  display: block;
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 10;
  border-radius: 8px;

  i {
    float: left;
    padding-left: 10px;
    color: #999;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 8px;
  }
}

#status input[type="text"],
#status button[type="submit"] {
  font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
}

#status input[type="text"]:hover,
#status textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #153066;
  border-radius: 8px;

}

#status textarea {
  height: 100px;
  max-width: 100%;
  resize: none;

}

#status button[type="submit"] {
  cursor: pointer;
  width: 100%;
  border: none;
  background: #153066;
  color: #FFF;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
  border-radius: 8px;
}

#status button[type="submit"]:hover {
  background: #50aaee;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;

}

#status button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);

}

#status input:focus,
#status textarea:focus {
  outline: 0;
  border: 1px solid #aaa;
  border-radius: 8px;
}

::-webkit-input-placeholder {
  color: #153066;
}


.logo_main {
  margin: auto;
  display: block;
  width: 400px;
  height: 400px;
}

.text_main {
  color: #153066;
  font-size: 20px;
  text-align: center;
  line-height: 100px;
  margin-bottom: 150px;
}

.logo_col {
  margin: 100px 500px 100px 500px;
  display: flex;
  align-items: center;

  .col {

    width: 500px;
    height: 500px;
    background: #ebecee;
    box-shadow: 0 0 35px rgba(black, 0.04);
    border-radius: 5px;

    &:nth-child(1) {

      border-top: 4px solid #50aaee;
      border-bottom: 4px solid #fe96a7;
    }
  }
}

.appointmentList {
  padding: 3rem;
  background: #e5e5e9;

  .col {
    margin: auto;
    min-height: 500px;
    width: 1000px;
    padding: 1rem;
    background: #ebecee;
    box-shadow: 0 0 35px rgba(black, 0.04);
    border-radius: 5px;
    text-align: center;
    font-size: 20px;
    height: 100px;
    line-height: 100px;

    .item {
      text-align: left;
      padding-left: 30px;
    }

    &:nth-child(1) {
      border-top: 4px solid #50aaee;

    }

    &:nth-child(2) {
      border-top: 4px solid #d56ec7;
    }

    &:nth-child(3) {
      border-top: 4px solid #e37e55;
    }

    &:nth-child(4) {
      border-top: 4px solid #ebbd41;
    }
  }
}

.delBtn{
i{
  padding-left: 15px;
}
  display: flex;
  position: fixed;
  top: 250px;
  right: 350px;
  width: 120px;
  height: 50px;
  margin: 0 0px 30px 290px;
  background: #f57992;
  border: none;
  color: white;
  text-align: center;
  align-items: center;
  font-size: 20px;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 0px 5px 0 rgba(0, 0, 0, 0.2), 0 0px 5px 0 rgba(0, 0, 0, 0.19);

  :link {
    text-decoration: none;
    color: inherit;
  }

  :visited {
    text-decoration: none;
    color: inherit;
  }

  :hover {
    text-decoration: none;
    color: inherit;
  }

  :active {
    text-decoration: none;
    color: inherit;
  }
}


.form-update-patient-info {
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.update-patient-info {
  margin-left: 590px;
  height: 280px;

  .input-field {
    background: #eaeaea;
    margin: 15px 0;
    border-radius: 8px;
    display: flex;
    align-items: center;
    max-height: 60px;
    width: 400px;
    transition: max-height 0.3s ease 0.3s;
    overflow: hidden;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.3);
  }

  input {
    width: 100%;
    background: transparent;
    border: 0;
    outline: 0;
    padding: 18px 15px;
  }

  .input-field i {
    margin-left: 25px;
    color: #999;
    background: transparent;
    border: none;
    outline: none;
    padding: 20px 45px 20px 20px;
  }
}

.editBtn {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
  margin-bottom: 70px;
  width: 150px;
  height: 60px;
  background: #244275;
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.3);
  outline: 0;
  padding: 30px 30px;
  border-radius: 8px;
  color: #ffffff;
  border: 2px solid rgba(255, 255, 255, .2);
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 2px;
  cursor: pointer;
  transition: background 0.1s ease 0.1s;
}

.editBtn:hover {
  background: #4a82e2;
  color: #ffffff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  transition: background 0.1s ease 0.1s;
}


.scheduled-appointment-field {
  padding: 3rem;
  display: inline-grid;
  background: #ffffff;

  i {
    padding-right: 15px;
  }

  .col {
    display: flex;
    align-items: center;
    margin: auto;
    width: 200px;
    padding: 2rem;
    background: #ebecee;
    box-shadow: 0 0 5px rgba(black, 0.04);
    border-radius: 5px;
    text-align: center;
    font-size: 20px;
    height: 70px;
    line-height: 70px;
    margin-top: 10px;
    margin-bottom: 35px;


    &:nth-child(1) {
      border-top: 4px solid #50aaee;

    }

    &:nth-child(2) {
      border-top: 4px solid #d56ec7;
    }

    &:nth-child(3) {
      border-top: 4px solid #e37e55;
    }
  }
}


.scheduled-appointment {
  padding: 3rem;
  display: inline-grid;
  background: #ffffff;

  .col {
    margin: auto;
    min-height: 100px;
    width: 600px;
    padding: 1rem;
    background: #ebecee;
    box-shadow: 0 0 5px rgba(black, 0.04);
    border-radius: 5px;
    text-align: center;
    font-size: 20px;
    height: 60px;
    line-height: 70px;
    margin-bottom: 35px;

    &:nth-child(1) {
      border-top: 4px solid #50aaee;

    }

    &:nth-child(2) {
      border-top: 4px solid #d56ec7;
    }

    &:nth-child(3) {
      border-top: 4px solid #e37e55;
    }

    &:nth-child(4) {
      border-top: 4px solid #ebbd41;
    }
  }
}


.scheduleBtn {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
  width: 150px;
  height: 80px;
  background: #244275;
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.3);
  outline: 0;
  border-radius: 8px;
  color: #ffffff;
  border: 2px solid rgba(255, 255, 255, .2);
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 2px;
  cursor: pointer;
  padding: 20px 20px 20px 20px;
  transition: background 0.1s ease 0.1s;
}

.scheduleBtn:hover {
  background: #4a82e2;
  color: #ffffff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  transition: background 0.1s ease 0.1s;
}


.editDetailBtn_Patient{
  i {
    padding-right: 15px;
  }

  display: flex;
  position: fixed;
  top: 650px;
  left: 1500px;
  background: #102a61;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 0 5px rgba(black, 0.04);

  :link {
    text-decoration: none;
    color: inherit;
  }

  :visited {
    text-decoration: none;
    color: inherit;
  }

  :hover {
    text-decoration: none;
    color: inherit;
  }

  :active {
    text-decoration: none;
    color: inherit;
  }
}
.editDetailBtn_Patient:hover {
  background: #4a82e2;
  color: #ffffff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  transition: background 0.1s ease 0.1s;
}

.patient_information_field_forPatient {
  padding: 3rem;
  display: inline-grid;
  background: #ffffff;

  i {
    padding-right: 15px;
  }

  .col {
    display: flex;
    align-items: center;
    margin: auto;
    width: 200px;
    padding: 1rem;
    background: #ebecee;
    box-shadow: 0 0 5px rgba(black, 0.04);
    border-radius: 5px;
    text-align: center;
    font-size: 20px;
    height: 70px;
    line-height: 70px;
    margin-bottom: 45px;

    :link {
      text-decoration: none;
      color: inherit;
    }

    :visited {
      text-decoration: none;
      color: inherit;
    }

    :hover {
      text-decoration: none;
      color: inherit;
    }

    :active {
      text-decoration: none;
      color: inherit;
    }



    &:nth-child(1) {
      border-top: 4px solid #50aaee;

    }

    &:nth-child(2) {
      border-top: 4px solid #d56ec7;
    }

    &:nth-child(3) {
      border-top: 4px solid #e37e55;
    }

    &:nth-child(4) {
      border-top: 4px solid #ebbd41;
    }
  }
}

.patient_information_forPatient {
  padding: 3rem;
  display: inline-grid;
  background: #ffffff;

  .col {
    margin: auto;
    min-height: 100px;
    width: 600px;
    padding: 1rem;
    background: #ebecee;
    box-shadow: 0 0 5px rgba(black, 0.04);
    border-radius: 5px;
    text-align: center;
    font-size: 20px;
    height: 70px;
    line-height: 70px;
    margin-bottom: 25px;

    :link {
      text-decoration: none;
      color: inherit;
    }

    :visited {
      text-decoration: none;
      color: inherit;
    }

    :hover {
      text-decoration: none;
      color: inherit;
    }

    :active {
      text-decoration: none;
      color: inherit;
    }



    &:nth-child(1) {
      border-top: 4px solid #50aaee;

    }

    &:nth-child(2) {
      border-top: 4px solid #d56ec7;
    }

    &:nth-child(3) {
      border-top: 4px solid #e37e55;
    }

    &:nth-child(4) {
      border-top: 4px solid #ebbd41;
    }
  }
}



//Doctor
.doctor-form-box{
  width: 90%;
  max-width: 450px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: transparent;
  backdrop-filter: blur(9px);
  color: #00000042;
  padding: 50px 60px 70px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.3);
  text-align: center;
  border: 2px solid rgba(255, 255, 255, .2);
  border-radius: 8px;
}

.doctor-input-field{
  background: #eaeaea;
  margin: 15px 0;
  border-radius: 8px;
  display: flex;
  align-items: center;
  max-height: 60px;
  transition: max-height 0.3s ease 0.3s;
  overflow: hidden;
}

input{
  width: 100%;
  background: transparent;
  border: 0;
  outline: 0;
  padding: 18px 15px;
}

.doctor-input-field i{
  margin-left: 15px;
  color: #999;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid rgba(255, 255, 255, .2);
  border-radius: 40px;
  padding: 20px 45px 20px 20px;
}

form p{
  text-align: center;
  font-size: 17px;
  color: #ffffff;
  margin-top: 15px;
}


.doctor-btn-field{
  width: 100%;
  justify-items: center;
}

.doctor-input-group{
  height: 280px;
}

.loginBtn{
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 50px;
  width: 50%;
  height: 20%;
  background: transparent;
  box-shadow: 0 5px 10px rgba(0,0,0,0.3);
  border: 0;
  outline: 0;
  padding: 30px 30px;
  border-radius: 8px;
  color: #ffffff;
  border: 2px solid rgba(255, 255, 255, .2);
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 2px;
  cursor: pointer;
  border-radius: 40px;
  transition: background 0.1s ease 0.1s;
}
.loginBtn:hover {
  background: linear-gradient(90deg, rgba(202,65,184,1) 0%, rgba(96,32,221,1) 100%);
  color: #fff;
  box-shadow: 0 5px 10px rgba(0,0,0,0.3);
  transition: background 0.1s ease 0.1s;
}

.doctor-registerBtn{
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 50px;
  width: 50%;
  height: 20%;
  background: transparent;
  box-shadow: 0 5px 10px rgba(0,0,0,0.3);
  border: 0;
  outline: 0;
  padding: 30px 30px;
  color: #ffffff;
  border: 2px solid rgba(255, 255, 255, .2);
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 2px;
  cursor: pointer;
  border-radius: 40px;
  transition: background 0.1s ease 0.1s;
}

.doctor-registerBtn:hover {
  background: linear-gradient(90deg, rgba(202,65,184,1) 0%, rgba(96,32,221,1) 100%);
  color: #fff;
  box-shadow: 0 5px 10px rgba(0,0,0,0.3);
  transition: background 0.1s ease 0.1s;
}


//Patient
.patient-form-box{
  width: 90%;
  max-width: 450px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: transparent;
  backdrop-filter: blur(9px);
  color: #00000042;
  padding: 50px 60px 70px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.3);
  text-align: center;
  border: 2px solid rgba(255, 255, 255, .2);
  border-radius: 8px;

}

.patient-form-box h1{
  color:#e6f0ff;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin-bottom: 60px;
  position: relative;

}

.patient-form-box h1::after{
  content: '';
  width: 130px;
  height: 4px;
  border-radius: 3px;
  background: #ffffff;
  position: absolute;
  bottom: -12px;
  left: 50%;
  transform: translateX(-50%);
}


.patient-input-field{
  background: #eaeaea;
  margin: 15px 0;
  border-radius: 8px;
  display: flex;
  align-items: center;
  max-height: 60px;
  transition: max-height 0.3s ease 0.3s;
  overflow: hidden;
}

input{
  width: 100%;
  background: transparent;
  border: 0;
  outline: 0;
  padding: 18px 15px;
}

.patient-input-field i{
  margin-left: 15px;
  color: #999;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid rgba(255, 255, 255, .2);
  border-radius: 40px;
  padding: 20px 45px 20px 20px;
}
form p{
  text-align: center;
  font-size: 17px;
  color: #ffffff;
  margin-top: 15px;
}


.patient-btn-field{
  width: 100%;
  justify-items: center;
}

.patient-input-group{
  height: 280px;
}

.patient-loginBtn{
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  width: 50%;
  height: 20%;
  background: transparent;
  box-shadow: 0 5px 10px rgba(0,0,0,0.3);
  border: 0;
  outline: 0;
  border-radius: 8px;
  color: #ffffff;
  border: 2px solid rgba(255, 255, 255, .2);
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 2px;
  cursor: pointer;
  padding: 20px 20px 20px 20px;
  transition: background 0.1s ease 0.1s;
}
.patient-loginBtn:hover {
  background: linear-gradient(90deg, rgba(202,65,184,1) 0%, rgba(96,32,221,1) 100%);
  color: #fff;
  box-shadow: 0 5px 10px rgba(0,0,0,0.3);
  transition: background 0.1s ease 0.1s;
}

.patient-loginBtn{
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  width: 50%;
  height: 20%;
  background: transparent;
  box-shadow: 0 5px 10px rgba(0,0,0,0.3);
  border: 0;
  outline: 0;
  border-radius: 8px;
  color: #ffffff;
  border: 2px solid rgba(255, 255, 255, .2);
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 2px;
  cursor: pointer;
  padding: 20px 20px 20px 20px;
  transition: background 0.1s ease 0.1s;
}
.patient-loginBtn:hover {
  background: linear-gradient(90deg, rgba(202,65,184,1) 0%, rgba(96,32,221,1) 100%);
  color: #fff;
  box-shadow: 0 5px 10px rgba(0,0,0,0.3);
  transition: background 0.1s ease 0.1s;
}

#title{
  color: #ffffff;
  font-size: 50px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin-top: 0;
  margin-bottom: 10px;
  position: relative;
  text-align: center;
}
