<div class="container">
  <div class="form-box">
    <h1 id="title">REGISTER</h1>
    <form method="post" action="/authentication/register">
      <div class="input-group">
        <div class="input-field">
          <i class="fa-solid fa-lock"></i>
          <input type="text" placeholder="Enter your name" name="name" required  />
        </div>
        <div class="input-field">
          <i class="fa-solid fa-lock"></i>
          <input type="email" placeholder="Enter your email" name="email" required />
        </div>
        <div class="input-field">
          <i class="fa-solid fa-lock"></i>
          <input
            type="text"
            placeholder="Enter your phone number" name="phoneNumber" required />
        </div>

        <div class="input-field">
          <i class="fa-solid fa-envelope"></i>
          <input type="text" placeholder="Enter your address" name="address" required />
        </div>

        <div class="input-field">
          <i class="fa-solid fa-lock"></i>
          <input type="password" placeholder="Enter your password" name="password" required />
        </div>


        <a href="#" style="color: #ffffff; text-decoration: none;">Login?</a>
      </div>

      <div class="btn-field">
        <button type="submit" class="registerBtn">REGISTER</button>
      </div>

    </form>
  </div>
</div>
