<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="Website Icon" type="png"
            href="https://tse3.mm.bing.net/th?id=OIP._stAgMFw3x2XTmdYuia_pQHaHa&pid=Api&P=0&w=300&h=300">
        <title>Hospital Data Management | PDM Project</title>
        <link href="/css/dashboard.css" rel="stylesheet">
        <link href="/css/homepage.css" rel="stylesheet">
        <link href="/css/doctor_login.css" rel="stylesheet">
        <link href="/css/doctor_register.css" rel="stylesheet">
        <link href="/css/login.css" rel="stylesheet">
        <link href="/css/register.css" rel="stylesheet">

        <script src="https://kit.fontawesome.com/dee05b2660.js" crossorigin="anonymous"></script>
    </head>
    <body>

        <div class="app">

            <div>
                {{{body}}}
            </div>

        </div>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    </body>

</html>
