* {
    font-family: "SF Pro Display", sans-serif;
  }

  body {
    background: url(../src/images/login_register_BG.png) no-repeat center;
    background-size: cover;
    padding: 3rem 0 0 3rem;
    font-size: 12px;
    height: 100vh;
    margin: 0;
    overflow: hidden;
  }

  .site-wrap {
    display: grid;
    grid-template-columns: 280px 1fr;
  }

  .site-nav {
    background: #0b121b;
    color: white;
    border-top-left-radius: 2rem;
    display: flex;
    flex-direction: column;

    a {
      color: inherit;
    }


    ul  {
      margin-bottom: auto;
      list-style: none;


      li {
        .nav_icon, a {
          display: flex;
          align-items: center;
          padding: 0.5rem 2rem 0.5rem 1rem;
          position: relative;
          font-size: medium;
          text-decoration: none;
          line-height: 100%;

          &:hover,
          &:focus {
            color: #4371c5;
          }
        }

        &.active >a, .nav_icon {
          background: linear-gradient(to right, #101b2d, transparent);

          &::before  {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            background: #4676cd;
            width: 5px;
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
          }
        }
      }

      ul .nav_icon {
        padding-left: 1rem;
        margin-bottom: 1rem;

        a {
          padding-top: 0.4rem;
          padding-bottom: 0.4rem;
        }
      }
    }
  }

  .note {
    width: calc(100% - 6rem);
    margin: 2rem;
    background: #171c26;
    border-radius: 10px;
    padding: 1rem;

    h3 {
      font-size: 0.9rem;
      margin: 0 0 0.4rem 0;
    }

    p {
      color: #717783;
    }
  }


  main {
    border-top-left-radius: 2rem;
    background: #ffffff;
    margin-left: -2rem;
    position: relative;

    >header {
      padding: 3rem 3rem 0 3rem;
    }
  }


  .item {
    background: white;
    box-shadow: 0 2px 4px rgba(black, 0.07);
    min-height: 50px;
    border-radius: 5px;
    margin: 0 0 0.5rem 0;
  }

  .nav-tabs {
    ul, li {
      margin: 0;
      padding: 0;
      list-style: none;
    }
    a {
      margin-right: 2rem;
      display: inline-block;
      padding: 1rem 0 1rem 0;
      font-size: 1.15rem;
      color: #8c939e;
      position: relative;
      text-decoration: none;

      &.active {
        color: #101620;
        font-weight: 600;
        text-transform: uppercase;

        span {
          background: #d9dfea;
          color: #5887d1;
        }

        &::after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 4px;
          background: #457ace;
          border-top-right-radius: 10px;
          border-top-left-radius: 10px;
        }
      }
    }

  .logo_main{
  margin: auto;
  display: block;
}

}
