<nav class="site-nav">
    <div class="name">Dashboard</div>

    <ul>
        <li class="active">
            <div class="nav_icon">
                <i class="fa-solid fa-bed-pulse"></i>
                <a href="#">Patients</a>
            </div>
            <ul class="sub_nav">
                <li>
                    <div class="nav_icon">
                        <i class="fa-solid fa-calendar-check"></i>
                        <a href="#">Book online</a>
                    </div>

                    <div class="nav_icon">
                        <i class="fa-solid fa-calendar-check"></i>
                        <a href="#">Scheduled appointment</a>
                    </div>
                </li>
            </ul>
        </li>

        <li>
            <div class="nav_icon">
                <i class="fa-solid fa-user-doctor"></i>
                <a href="#">Doctors</a>
            </div>
            <ul class="sub_nav">
                <li>
                    <div class="nav_icon">
                        <i class="fa-brands fa-wpforms"></i>
                        <a href="#">In charge form</a>
                    </div>

                    <div class="nav_icon">
                        <i class="fa-solid fa-users"></i>
                        <a href="#">Patients managed</a>
                    </div>
                </li>
            </ul>
        </li>
    </ul>

    <div class="note">
        <h3>PDM Project</h3>
        <p>Hospital Data Management</p>
    </div>
</nav>
