
    <body>
        <div class="site-wrap">
            <nav class="site-nav">
                <div class="name">Dashboard</div>

                <ul id="sidebar">


                </ul>

                <div class="note">
                    <h3>PDM Project</h3>
                    <p>Hospital Data Management</p>
                </div>
            </nav>

            <main>
                <header>
                    <div class="breadcrumbs">
                        <i class="fa-solid fa-home"></i>
                        <a href="#0/">Home</a>
                    </div>

                    <h1 class="title">Patients</h1>

                    <nav class="nav-tabs" id="nav-tabs">
                        <a href="#0" class="active">
                            Today
                            <span>14</span>
                        </a>
                        <a href="#0">
                            Pending
                            <span>24</span>
                        </a>
                    </nav>
                </header>

                <div class="content-columns">
                    <div class="col">
                        <div class="item"></div>
                        <div class="item"></div>
                        <div class="item"></div>
                        <div class="item"></div>
                        <div class="item"></div>
                        <div class="item"></div>
                        <div class="item"></div>
                        <div class="item"></div>
                    </div>
                    <div class="col">
                        <div class="item"></div>
                        <div class="item"></div>
                        <div class="item"></div>
                        <div class="item"></div>
                        <div class="item"></div>
                        <div class="item"></div>
                        <div class="item"></div>
                        <div class="item"></div>
                    </div>
                    <div class="col">
                        <div class="item"></div>
                        <div class="item"></div>
                        <div class="item"></div>
                        <div class="item"></div>
                        <div class="item"></div>
                        <div class="item"></div>
                        <div class="item"></div>
                        <div class="item"></div>
                    </div>
                    <div class="col">
                        <div class="item"></div>
                        <div class="item"></div>
                        <div class="item"></div>
                        <div class="item"></div>
                        <div class="item"></div>
                        <div class="item"></div>
                        <div class="item"></div>
                        <div class="item"></div>
                    </div>
                </div>
            </main>
        </div>

        <script>
            const navTabs = document.querySelectorAll("#nav-tabs > a");
            navTabs.forEach((tab) => {
                tab.addEventListener("click", () => {
                    navTabs.forEach((tab) => {
                        tab.classList.remove("active");
                    });
                    tab.classList.add("active");
                });
            });
            let cookies= document.cookie
            let ulTag= document.getElementById("sidebar")

            if(cookies.includes("pId")){
                ulTag.innerHTML=`          <li class="active">
            <div class="nav_icon">
              <i class="fa-solid fa-bed-pulse"></i>
              <a href="#">Patients</a>
            </div>
            <ul class="sub_nav">
              <li>
                <div class="nav_icon">
                  <i class="fa-solid fa-calendar-check"></i>
                  <a href="#">Book online</a>
                </div>

                <div class="nav_icon">
                  <i class="fa-solid fa-calendar-check"></i>
                  <a href="#">Scheduled appointment</a>
                </div>
              </li>
            </ul>
          </li>`
            }else {
                ulTag.innerHTML=` <li>
            <div class="nav_icon">
              <i class="fa-solid fa-user-doctor"></i>
              <a href="#">Doctors</a>
            </div>
            <ul class="sub_nav">
              <li>
                <div class="nav_icon">
                  <i class="fa-brands fa-wpforms"></i>
                  <a href="#">In charge form</a>
                </div>
                <div class="nav_icon">
                  <i class="fa-solid fa-users"></i>
                  <a href="#">Patients managed</a>
                </div>
              </li>
            </ul>
          </li>`
            }
        </script>

