
  <div class="site-wrap">
    <nav class="site-nav">
      <div class="name">Patient list</div>
      <ul id="sidebar">
      </ul>

      <div class="note">
        <h3>PDM Project</h3>
        <p>Hospital Data Management</p>
      </div>
    </nav>

    <main>
      <header>
        <h1 id="title">
        </h1>
      </header>

      <div class="appointmentList">
        <div class="col">
          {{#each appointment}}
            <div class="item">
              {{this.name}} | {{this.meetDate}} | {{this.meetTime}}
                <button type="button" class="btn btn-primary" data-toggle="modal" data-id="{{this.pId}}" data-target="#deleteModal">
                    Finish
                </button>
            </div>

            </div>
          {{/each}}
        </div>
    </main>
  </div>

<!--  Delete appointment modal-->
  <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                  </button>
              </div>
              <div class="modal-body">
                  Do you want to finish the appointment ?
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary" id="finishBTN">Finish</button>
              </div>
          </div>
      </div>
  </div>


<!--Log out modal  -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Log Out ?</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                  </button>
              </div>
              <div class="modal-body">
                  Do you want to log out ?
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-danger" id="logoutBTN">Log out</button>
              </div>
          </div>
      </div>
  </div>

  <form id="logoutForm" method="post" action="/authentication/logout"></form>

  <form id="deleteForm" method="post" ></form>


  <script>
      let appointmentID;
      let deleteForm=document.getElementById('deleteForm')

      //when dialog confirm click
      document.addEventListener('DOMContentLoaded',function () {
          $('#deleteModal').on('show.bs.modal', function (event) {
              let button = $(event.relatedTarget) // Button that triggered the modal
              appointmentID = button.data('id') // Extract info from data-* attributes
          })
      })
      const btnFinish=document.getElementById('finishBTN')

      // when delete course btn clicked
      btnFinish.onclick=function () {
          deleteForm.action=`/doctor/appointments/${appointmentID}?_method=DELETE`
          deleteForm.submit()
      }

    const navTabs = document.querySelectorAll("#nav-tabs > a");
    navTabs.forEach((tab) => {
      tab.addEventListener("click", () => {
        navTabs.forEach((tab) => {
          tab.classList.remove("active");
        });
        tab.classList.add("active");
      });
    });


    let cookies = document.cookie
    let ulTag = document.getElementById("sidebar")

    if (cookies.includes("pId")) {
      ulTag.innerHTML = `
      <li class="active">
            <div class="nav_icon">
              <i class="fa-solid fa-bed-pulse"></i>
              <a href="#">Patients</a>
            </div>
            <div class="nav_icon">
                  <i class="fa-solid fa-calendar-check"></i>
                  <a href="#">Book online</a>
                </div>

              <div class="nav_icon">
                  <i class="fa-solid fa-calendar-check"></i>
                  <a href="#">Scheduled appointment</a>
                </div>
            <ul class="sub_nav">
              <li>
              </li>
            </ul>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
          </li>`
      let title = document.getElementById("title");
      console.log(title);
      title.innerText = "Patient";
    } else {
      ulTag.innerHTML = `
        <li>
            <div class="nav_icon">
              <i class="fa-solid fa-user-doctor"></i>
              <a href="#">Doctors</a>
            </div>
         <div class="nav_icon">
                <i class="fa-brands fa-wpforms"></i>
                <a href="/doctor/inchargeform">In charge form</a>
                </div>
          <div class="nav_icon">
                <i class="fa-solid fa-list"></i>
                <a href="/doctor/getAllAppointments">Appointment list</a>
                </div>
<div class="nav_icon">
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Log out</button>
</div>
</ul>
        </li>`

      let title = document.getElementById("title");
      console.log(title);
      title.innerText = "Doctor";
    }

    let logoutForm= document.getElementById("logoutForm");
    let logoutBTN= document.getElementById("logoutBTN")
    console.log(logoutBTN);
    logoutBTN.onclick= function(){
        logoutForm.submit();
    }
  </script>
