<body>
  <div class="site-wrap">
    <nav class="site-nav">
      <div class="name">Patient information</div>

      <ul id="sidebar">
        <li>
            <div class="nav_icon">
              <i class="fa-solid fa-user-doctor"></i>
              <a href="#">Patient information</a>
            </div>
             <div class="nav_icon">
                  <i class="fa-brands fa-wpforms"></i>
                  <a href="/doctor/patientlist">In charge form</a>
                </div>
                <div class="nav_icon">
                  <i class="fa-solid fa-list"></i>
                  <a href="/doctor/getAllAppointments">Appointment list</a>
                </div>
            </ul>
          </li>

      </ul>

      <div class="note">
        <h3>PDM Project</h3>
        <p>Hospital Data Management</p>
      </div>
    </nav>

    <main>
      <header>
        <h1 id="title"> Patient information
        </h1>

        {{!-- <nav class="nav-tabs" id="nav-tabs">
          <a href="#0" class="active">
            Today
            <span>14</span>
          </a>
          <a href="#0">
            Pending
            <span>24</span>
          </a>
        </nav> --}}
      </header>
      <div class="patient_information_field">

        <div class="col">
            <i class="fa-solid fa-circle-user"></i>
            Patient name
        </div>
        <div class="col">
            <i class="fa-solid fa-calendar-day"></i>
            Start day
        </div>
        <div class="col">
            <i class="fa-solid fa-circle-info"></i>
            Patient status
        </div>

      </div>

      <div class="patient_information">

        <div class="col"> {{patient.pName}}
        </div>
        <div class="col">
            {{patient.startDay}}
        </div>
        <div class="col">
            {{patient.details}}
        </div>

      </div>
    </main>


    <div class="editBtn">
          <i class="fa-solid fa-pen"></i>
          <a href="/doctor/updateInchargeForm/{{patient.pId}}">Edit detail</a>
    </div>

  </div>

  <script>
            const navTabs = document.querySelectorAll("#nav-tabs > a");
            navTabs.forEach((tab) => {
                tab.addEventListener("click", () => {
                    navTabs.forEach((tab) => {
                        tab.classList.remove("active");
                    });
                    tab.classList.add("active");
                });
            });


        </script>
