<body>
    <div class="site-wrap">
        <nav class="site-nav">
            <div class="name">Patient Information</div>

            <ul id="sidebar">
                <li>
                    <div class="nav_icon">
                        <i class="fa-solid fa-user-doctor"></i>
                        <a href="/dashboard">Dashboard</a>
                    </div>
                    <div class="nav_icon">
                        <i class="fa-brands fa-wpforms"></i>
                        <a href="/doctor/patientlist">Patient List</a>
                    </div>
                    <div class="nav_icon">
                        <i class="fa-solid fa-list"></i>
                        <a href="/doctor/getAllAppointments">Appointment List</a>
                    </div>
                <div class="nav_icon">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Log out </button>
                </div>
            </li>

            </ul>

            <div class="note">
                <h3>PDM Project</h3>
                <p>Hospital Data Management</p>
            </div>
        </nav>

        <main>
            <header>
                <main></main>
                <h1 id="title"> Update Patient Status
                </h1>
            </header>
            <form id="status" method="post" action="/doctor/inchargeForm">
                <fieldset>
                    <i class="fa-solid fa-user"> Patient ID</i>
                    <input placeholder="Input patient ID" name="pId" type="text" tabindex="1" required autofocus>

                </fieldset>
                <fieldset>
                    <i class="fa-solid fa-user-doctor"> Doctor ID</i>
                    <input placeholder="Input doctor ID" name="dId" type="text" tabindex="1" required autofocus>
                </fieldset>
                <fieldset>
                    <i class="fa-solid fa-address-card"> Patient Name</i>
                    <input placeholder="Input patient name" name="pName" type="text" tabindex="1" required autofocus>
                </fieldset>
                <fieldset>
                    <i class="fa-solid fa-circle-info"> Patient Status</i>
                    <input placeholder="Input patient status" name="details" type="text" tabindex="1" required
                        autofocus>
                </fieldset>
                <fieldset>
                    <i class="fa-regular fa-calendar-days"> Start Date</i>
                    <input placeholder="Input patient start date" name="startDay" type="date" tabindex="1" required
                        autofocus>
                </fieldset>
                <fieldset>
                    <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
                </fieldset>
            </form>

        </main>
    </div>

</body>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Do you want to log out ?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger" id="logoutBTN">Log out</button>
            </div>
        </div>
    </div>
</div>

<form id="logoutForm" method="post" action="/authentication/logout"></form>

<script>
    const navTabs = document.querySelectorAll("#nav-tabs > a");
    navTabs.forEach((tab) => {
        tab.addEventListener("click", () => {
            navTabs.forEach((tab) => {
                tab.classList.remove("active");
            });
            tab.classList.add("active");
        });
    });

    let logoutForm= document.getElementById("logoutForm");
    let logoutBTN= document.getElementById("logoutBTN")
    console.log(logoutBTN);
    logoutBTN.onclick= function(){
        logoutForm.submit();
    }


</script>
