<body>
    <div class="site-wrap">
        <nav class="site-nav">
            <div class="name">Patient Information</div>

            <ul id="sidebar">
                <li>
                    <div class="nav_icon">
                        <i class="fa-solid fa-user"></i>
                        <a href="/patient/patientDetails">Patient Information</a>
                    </div>
                    <div class="nav_icon">
                        <i class="fa-solid fa-list"></i>
                        <a href="/patient/newAppointment">New Appointment</a>
                    </div>
                    <div class="nav_icon">
                        <i class="fa-solid fa-calendar-check"></i>
                        <a href="/patient/appointments">Scheduled Appointment</a>
                    </div>
                    <div class="nav_icon">
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Log out</button>
                    </div>
                </li>
            </ul>


            <div class="note">
                <h3>PDM Project</h3>
                <p>Hospital Data Management</p>
            </div>
        </nav>

        <main>
            <header>
                <h1 id="title"> Scheduled Appointment
                </h1>
            </header>
            <div class="scheduled-appointment-field">
                <div class="col">
                    <i class="fa-solid fa-user-doctor"></i>
                    Doctor ID
                </div>
                <div class="col">
                    <i class="fa-solid fa-calendar"></i>
                    Meet Date
                </div>
                <div class="col">
                    <i class="fa-solid fa-clock"></i>
                    Meet Time
                </div>
            </div>

            <div class="scheduled-appointment">
                <div class="col">
                    {{appointments.dId}}
                </div>
                <div class="col">
                    {{appointments.meetDate}}
                </div>
                <div class="col">
                    {{appointments.meetTime}}
                </div>
            </div>
        </main>
    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Do you want to log out ?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-danger" id="logoutBTN">Log out</button>
                </div>
            </div>
        </div>
    </div>

    <form id="logoutForm" method="post" action="/authentication/logout"></form>

    <script>
        const navTabs = document.querySelectorAll("#nav-tabs > a");
        navTabs.forEach((tab) => {
            tab.addEventListener("click", () => {
                navTabs.forEach((tab) => {
                    tab.classList.remove("active");
                });
                tab.classList.add("active");
            });
        });

        let logoutForm= document.getElementById("logoutForm");
        let logoutBTN= document.getElementById("logoutBTN")
        console.log(logoutBTN);
        logoutBTN.onclick= function(){
            logoutForm.submit();
        }
    </script>
