<body>
    <div class="site-wrap">
        <nav class="site-nav">
            <div class="name">Patient information</div>

            <ul id="sidebar">
                <li>
                    <div class="nav_icon">
                        <i class="fa-solid fa-user"></i>
                        <a href="/patient/patientDetails">Patient Information</a>
                    </div>
                    <div class="nav_icon">
                        <i class="fa-solid fa-list"></i>
                        <a href="/patient/newAppointment">New Appointment</a>
                    </div>
                    <div class="nav_icon">
                        <i class="fa-solid fa-calendar-check"></i>
                        <a href="/patient/appointments">Scheduled Appointment</a>
                    </div>
            </ul>
            </li>

            </ul>

            <div class="note">
                <h3>PDM Project</h3>
                <p>Hospital Data Management</p>
            </div>
        </nav>

        <main>
            <header>
                <h1 id="title"> New appointment
                </h1>
            </header>
            <div class="form-update-patient-info">
                <form method="post" action="/patient/newAppointment/{{pId}}">
                    <div class="update-patient-info">
                        <div class="input-field">
                            <i class="fa-solid fa-user"></i>
                            <input type="text" placeholder="Enter meet date" name="meetDate" required />
                        </div>
                        <div class="input-field">
                            <i class="fa-solid fa-envelope"></i>
                            <input type="text" placeholder="Enter time" name="meetTime" required />
                        </div>
                        <div class="input-field">
                            <i class="fa-solid fa-phone"></i>
                            <input type="text" placeholder="Enter doctor ID" name="dId" required />
                        </div>
                    </div>

                    <div class="editBtn">
                        <i class="fa-solid fa-pen"></i>
                        <button type = "submit" >Schedule</button>
                    </div>

                </form>
            </div>

    </div>
    </main>

    </div>

    <script>
        const navTabs = document.querySelectorAll("#nav-tabs > a");
        navTabs.forEach((tab) => {
            tab.addEventListener("click", () => {
                navTabs.forEach((tab) => {
                    tab.classList.remove("active");
                });
                tab.classList.add("active");
            });
        });

        function getCookie(name) {
        const value = `; ${document.cookie}`;
        const parts = value.split(`; ${name}=`);
        if (parts.length === 2) return parts.pop().split(';').shift();
    }

    document.addEventListener("DOMContentLoaded", function () {
        const pId = getCookie("pId");

        // Check if pId is available
        if (pId) {
            const form = document.querySelector(".form-update-patient-info form");
            form.action = `/patient/newAppointment/${pId}`;
        }
    });
    </script>
